<!DOCTYPE html>
<html>
  <head>
    <title>Forget Password</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>

    <div class="container">
      <div class="col-md-6 col-md-offset-3">

        <form class="form-signin" name="frm" method="POST" action="/users/forget_password">
          <input type="hidden" name="id" value=<%= userId %> >
          <h2 class="form-signin-heading">Forgot Your Password</h2>
          <label for="inputEmail" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required autofocus>
          <label for="inputPassword" class="sr-only">Re-Password</label>
          <input type="password" id="reinputPassword" class="form-control" placeholder="Re-Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>
      </div>

    </div> <!-- /container -->
  </body>
</html>
